.header {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  padding: 1rem;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent);
}

.aboutLink {
  color: var(--text);
}

.aboutLink:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--accent);
  transition: transform 0.2s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  color: var(--text);
}
